{% extends "base.html" %} {% block content %}

<form method="post">
  {% csrf_token %}

  <div class="form-group">
    {{ register_form.username.errors }}
    <label>Username:</label>
    {{ register_form.username }}
  </div>

  <div class="form-group">
    {{ register_form.password1.errors }}
    <label>Password:</label>
    {{ register_form.password1 }}
  </div>

  <div class="form-group">
    {{ register_form.password2.errors }}
    <label>Confirm password:</label>
    {{ register_form.password2}}
  </div>

  <div class="form-group">
    <input type="submit" value="Register" />
  </div>
</form>

{% endblock %}
